.sevillana-regular {
    font-family: "Sevillana", cursive;
    font-weight: 400;
    font-style: normal;
}


html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    list-style: none;
    font-size: 62.5%;
}

/* Mobile Version */

p {
    margin: 0;
}

body {
    margin: 0 auto;
    /* width: 37.5rem; */
}

.hidden {
    display: none;
}


.nav {
    width: 10vw;
    display: block;
    background-color: #00246B;
    position: fixed;
    height: 3rem;

}

.navbar {
    transition: all 0.3s ease-in-out;
}



.header {
    position: fixed;
    width: 100%;
    height: 4rem;
    background: #00246B;
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    top: 0;
}

.navbar li {
    display: flex;
    flex-direction: column;

}

.navbar a {
    display: flex;
    flex-direction: column;
    font-size: 18px;
    color: white;
    font-weight: 500;
    margin: 0 20px;
    border-bottom: 3px solid transparent;
    transition: 0.3 ease;
}

.logo {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 2.2rem;
    color: white;
    font-weight: 500;
    transition: 0.3s ease;
    margin-left: 2rem;
    padding-bottom: 0.5rem;
}

.logo:hover {
    color: #8AB6F9;
    text-shadow: 0 0 20px #8AB6F9;
    transform: scale(1.1);
}

.navbar a:hover,
.navbar a:active {
    color: #8AB6F9;
    border-bottom: 3px solid #8AB6F9;
}

.menu-toggle {
    display: none;
    /* Ascunde pe desktop */
    font-size: 2rem;
    color: white;
    cursor: pointer;
    margin-right: 2rem;
}

.menu-toggle i {
    transition: transform 0.3s ease-in-out;
}

.home {
    background: white;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    gap: 7rem;
    padding-top: 2rem;

}

.home-content {
    margin: 2rem;
}



.home-content h3 {
    font-size: 2.5rem;
}

.home-content h1 {
    font-size: 3.5rem;
    line-height: 1.2;
}

.home-content p {
    font-size: 1.2rem;
    margin: 2.5rem 0 3rem;
}

.btn-box {
    justify-content: space-around;
    display: flex;
    gap: 2em;
    padding-bottom: 2rem;
}

.btn-1 {
    min-width: 2rem;
    padding: 1.5rem 2.8rem;
    background-color: black;
    color: white;
    border: 2px solid transparent;
    border-radius: 8px;
    font-size: 1.5rem;
    letter-spacing: 1px;
    font-weight: 600;
    transition: 0.3s ease;
    cursor: pointer;

}

.btn-1:hover {
    background-color: #8AB6F9;
    color: black;
    border: 2px solid black;
}

.btn-2 {
    min-width: 2rem;
    padding: 1.5rem 2.8rem;
    background-color: #8AB6F9;
    color: white;
    border: 2px solid black;
    border-radius: 8px;
    font-size: 1.5rem;
    letter-spacing: 1px;
    font-weight: 600;
    transition: 0.3s ease;
    cursor: pointer;
}

.btn-2:hover {
    background-color: white;
    color: #8AB6F9;
}

img {
    width: 100%;
}

h1 {
    width: 12ch;
    font-family: Georgia, 'Times New Roman', Times, serif;
    height: auto;
}

h1 .name {
    color: #8AB6F9;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 2.5rem;
}

.about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3rem 1.2rem;
    gap: 10rem;
    background: #CADCFC;
    width: 100%;
    position: relative;
    /* left: -10rem; */
}


.about-img img {
    position: relative;
    border-radius: 50%;
    box-shadow: 0 0 25px #8AB6F9,
        0 0 50px #8AB6F9;
}

.about-content h2 {
    text-align: left;
    color: black;
    font-size: 2.5rem;
}


.about-content p {
    color: black;
    width: 46ch;
    font-size: 1.2rem;
    margin: 2.5rem 0 3rem;
}

.icons {
    display: flex;
    justify-content: center;
    gap: 2rem;
    font-size: 6rem;
    margin: 20px;
    color: #00246B;
    margin-top: 2rem;

}

#huddle-img {
    width: 100%;
    padding: 1.5rem 1.5rem 0 1.5rem;
    border-radius: 50px;
}


.project-content {
    display: flex;
    align-items: center;
    flex-direction: column-reverse;
    justify-content: space-evenly;
    gap: 4rem;
    padding: 1rem 0;
    background: #8AB6F9;
    border-radius: 5px;
}

.project {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    background: #8AB6F9;
}

.project-text {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin-top: -1rem;


}

.project-text p {
    width: 46ch;
    font-size: 1.2rem;
}

.btn {
    width: 8rem;
    margin-top: 2rem;
    height: 3rem;
    border-radius: 8px;
    background-color: #00246B;
    color: white;
    font-size: 18px;
    letter-spacing: 1px;
    font-weight: 600;
    transition: 0.3s ease;
    cursor: pointer;
}

.project-btn {
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 3rem;
}

.demo {
    margin-right: 5rem;
}

.project-heading {

    font-size: 3rem;
    padding-top: 4rem;
}

.contact-form h2 {
    text-align: center;
    margin-top: 3rem;
    margin-bottom: 1em;
    font-size: 3rem;

}

.contact-me {
    padding-top: 3rem;
}

.contact-form form {
    max-width: 50rem;
    margin: 1rem auto;
    text-align: center;
    margin-bottom: 3em;

}





.contact-form form .input-box input,
.contact-form form textarea {
    width: 80%;
    padding: 1.5em;
    font-size: 1.5rem;
    color: black;
    background: rgb(243, 240, 240);
    margin: 1rem 0;
    resize: none;
    border-radius: 10px;
}

.contact-form .btn-1 {
    margin-top: 2rem;
    background: #00246B;
}

.contact-form .btn-1:hover {
    background: #8AB6F9;
    color: white;
}

.footer {
    position: relative;
    bottom: 0;
    width: 100%;
    padding: 2rem 0;
    background-color: #000c24;
    margin-top: 2rem;
}

.footer .social {
    text-align: center;
    padding-bottom: 20px;
    color: white;
}

.footer .social a {
    font-size: 24px;
    color: white;
    border: 2px solid #8AB6F9;
    width: 40px;
    height: 40px;
    line-height: 39px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    margin: 0 8px;
    box-shadow: inset 0 0 10px #8AB6F9, 0 0 10px #8AB6F9;
    transition: 0.3s ease;
}

footer ul {
    margin-top: 0;
    padding: 0;
    font-size: 18px;
    line-height: 1.6px;
    margin-bottom: 0;
    text-align: center;
}

.footer ul li a:hover {
    border-bottom: 3px solid #8AB6F9;
}

.footer ul li a {
    color: white;
    border-bottom: 3px solid transparent;
    transition: 0.3s ease;
    font-size: 1rem;
}

.footer ul li {
    display: inline-block;
    padding: 0 15px;
}

.footer .copyright {
    text-align: center;
    color: white;
    font-size: 12px;
    margin-top: 2rem;
}



/* Media Query pentru dispozitive mobile */
@media screen and (max-width: 768px) {

    /* Arată butonul hamburger pe mobile */
    .menu-toggle {
        display: block;
    }

    /* Ascunde meniul de navigare implicit */
    .navbar {
        position: absolute;
        top: 3rem;
        /* Ajustează în funcție de înălțimea header-ului */
        left: 0;
        width: 100%;
        background-color: #00246B;
        display: none;
        flex-direction: column;
        align-items: center;

    }

    /* Afișează meniul de navigare când este activ */
    .navbar.active {
        display: flex;
    }

    /* Stiluri pentru link-uri în versiunea mobilă */
    .navbar ul {
        flex-direction: column;
    }

    .navbar li {
        margin: 1.5rem 0;
    }

    .navbar a {
        font-size: 1.5rem;
    }
}



@media screen and (min-width: 768px) {

    /*  
    body {
        width: 76.8rem;
    } */

    .header {
        width: 100%;
        height: 4rem;
    }

    .navbar ul {
        display: flex;
        flex-direction: row;
    }

    .about {
        padding: 3rem 1.2rem 4rem 1.2rem;
        gap: 10rem;
        background: #CADCFC;
    }

    .home-content p {
        font-size: 1.4rem;
        margin: 2.5rem 0 3rem 0;
        width: 70ch;
    }


    .about-content p {
        color: black;
        width: 70ch;
        font-size: 1.4rem;
        margin: 2.5rem 0 3rem 0;
    }

    .btn-3 {
        margin-left: 22rem;
    }

    .project-text p {
        width: 80ch;
        font-size: 1.4rem;
    }

    .project-heading {
        font-size: 3rem;
        padding-top: 7rem;
    }
}

@media screen and (min-width:1080px) {

    /* body {
        width: 108rem;
    }
  */
    .header {
        width: 100%;
        padding: 2rem 12rem;
        justify-content: space-between;
        align-items: center;
        z-index: 100;
        height: 6rem;

    }

    .navbar ul {
        display: flex;
        flex-direction: row;
    }


    /* .navbar a {
 
        font-size: 1.5rem;
        margin: 0 20px;
    } */

    .logo {
        font-size: 4rem;
        color: white;
        font-weight: 600;
        transition: 0.3s ease;
    }

    #logo1 {
        font-family: monospace;
    }

    .img-box {
        width: 65%;
    }

    .img-box img {
        width: 100%;
        margin-left: 6rem;
    }

    .home {
        min-height: 100vh;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 7rem;
        margin: 0 5rem;
    }

    .home-content {
        /* max-width: 800px; */
        width: 35%;
        margin: 0 auto;
    }

    .home-content h3 {
        font-size: 4.2rem;
    }

    .home-content h1 {
        font-size: 6.2rem;
        line-height: 1.2;
    }

    .home-content p {
        font-size: 2.2rem;
        padding-top: 1rem;
        width: 40ch;

    }

    .btn-box {
        width: 40rem;
        display: flex;
        gap: 5rem;
        padding-top: 2rem;
    }


    img {
        width: 100%;
    }

    .icons {
        font-size: 11rem;

    }

    .about {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 10rem;
        height: 100vh;
        padding: 40rem 0 35rem 0;


        /* margin-left: 9rem; */
    }

    .about-img {
        width: 31%;

    }

    .about-img img {
        /* margin: 20rem 0; */
        /* position: relative; */
        width: 100%;
        border-radius: 50%;
        box-shadow: 0 0 25px #8AB6F9,
            0 0 50px #8AB6F9;

    }

    .about-content {
        width: 50%;


    }

    .about-content h2 {
        text-align: left;
        color: black;
        font-size: 4.2rem;
    }

    .about-content p {
        font-size: 2rem;
        width: 45ch;
    }

    /* .contact-form {
        height: 100vh;
 
    } */
    .contact-form {
        height: 100vh;
        /* padding-top: 5rem; */
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .contact-me {
        padding-top: 0;
    }

    .contact-form h2 {
        margin-top: 0;
    }


    .input-box input,
    .contact-form form textarea {
        width: 110%;
        padding: 1.5rem;
        font-size: 1.8rem;
        color: black;
        background: rgb(243, 240, 240);
        margin: 2rem -2.5rem 3rem -2.5rem;
        resize: none;
    }


    /* .contact-form form {
        padding: 0;
        margin: 0;
       
    } */

    .contact-form form {
        max-width: 50rem;
        margin: 1rem auto;
        text-align: center;
        margin-bottom: 3rem;
        margin-top: 0;
    }

    .img {
        width: 50%;
    }

    .project-content {
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: center;
        gap: 4rem;
        padding: 1rem 0;
        background: #8AB6F9;
        border-radius: 5px;

    }

    .project {
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        background: #8AB6F9;
        width: 100%;
        position: relative;
        padding-top: 2rem;

    }


    #huddle-img {
        width: 100%;

    }

    .project-text {
        width: 50%;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        margin-top: -1rem;
        margin-left: -5rem;
    }

    .project .img {
        width: 40%;
        padding-bottom: 7rem;
        margin-left: -2rem;
    }

    .project-text p {
        width: 42ch;
        font-size: 2rem;
    }

    .project-heading {

        font-size: 3rem;
        padding-top: 10rem;
        position: relative;
        top: -3rem;
    }

    .project-btn {
        padding-top: 3rem;
    }

    .contact-form {
        padding-top: 5rem;
    }



    .footer {

        width: 100%;
        height: 13rem;
        position: relative;

    }

    .footer ul li a {
        color: white;
        border-bottom: 3px solid transparent;
        transition: 0.3s ease;
        font-size: 1.5rem;
    }
}

@media screen and (min-width:1440px) {
    .header {

        height: 8rem;

    }


    .home {

        margin: 0 10rem;
    }


    .about-content p {
        font-size: 2rem;
        width: 60ch;
    }

}

@media screen and (min-width: 2160px) {

    body,
    .header {
        width: 216rem;
    }

    .img-box {
        width: 55%;
    }

    .img-box img {
        width: 100%;
        margin-left: 0;
    }

    .home {
        margin: 0 25rem;

    }

    .home-content {
        /* max-width: 800px; */
        width: 50%;
        margin: 0 auto;
        padding-left: 8rem;
    }

    .home-content h3 {
        font-size: 4.2rem;
    }

    .home-content h1 {
        font-size: 6.2rem;
        line-height: 1.2;
    }

    .home-content p {
        font-size: 2.4rem;
        padding-top: 1rem;
        width: 45ch;

    }

    .icons {

        margin-left: -22rem;

    }

    .icons i {
        font-size: 13rem;

    }

    .about {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 0;
        height: 100vh;

        /* padding: 40rem 0 35rem 0; */


        /* margin-left: 9rem; */
    }

    .about-img {
        width: 45%;
        padding: 16rem;
        margin-bottom: 4rem;

    }



    .about-content p {
        font-size: 2.4rem;
        width: 60ch;
    }


    .project-content {
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: center;
        gap: 4rem;
        padding: 1rem 0;
        background: #8AB6F9;
        border-radius: 5px;

    }





    .project-text {
        width: 50%;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        margin-top: -1rem;
        margin-left: -5rem;
    }

    .project .img {
        width: 50%;
        padding-bottom: 7rem;
        margin-left: -2rem;
    }

    .project-text p {
        width: 50ch;
        font-size: 2.4rem;
    }

    .project-heading {

        font-size: 4rem;

    }

    .project-btn .btn {
        width: 12rem;
        height: 4rem;
    }

    .project-btn {
        padding-top: 5rem;
        gap: 6rem;

    }

    .contact-form h2 {
        font-size: 4rem;
    }

    .contact-form textarea {
        width: 30rem;
    }

    .input-box input,
    .contact-form form textarea {
        width: 110%;
        padding: 1.5rem;
        font-size: 1.8rem;
        color: black;
        background: rgb(243, 240, 240);
        margin: 4rem -3rem 3rem -3rem;
        resize: none;
    }

    .input-box input {
        margin: 2rem;
    }

    #input1,
    #input2,
    #input3,
    #input4 {
        margin-bottom: 2rem;
    }



}